

body{
    width: 1200px;
    margin: 0 auto !important;
}

.box-form {
    width: 500px;
    margin: 0 auto;
    padding: 30px 50px;
    border: 1px solid lightgray;
    border-radius: 5px
}

.box-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-size {
    width: 200px;
}

.checkbox {
    align-self: flex-start;
    margin-bottom: 20px;
}

.box-alert {
    width: 500px;
    margin: 0 auto;
}

.text-error {
    align-self: flex-start;
    color: red;
}

.sub-header {
    background: url(/img/logo.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    height: 25vh;
    min-height: 200px;
    padding: 20px;
    border-radius: 10px;
}

    .sub-header h1, .sub-header h2 {
        color: aqua;
        font-size: 40px;
        font-weight: bold;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

.ctg-item {
    margin: 10px;
}

    .ctg-item img {
        border-radius: 50%;
        max-width: 70px;
        height: 70px;
    }